.createPostPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 40px;
  border-radius: 5px;
  height: 400px;
  width: 600px;
  background-color: white;
  box-shadow: 5px 9px 15px -5px gray;
  justify-content: center;
}

.postContainer h1 {
  margin: 0;
}

.postContainer input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0px 4px;
}

.postContainer textarea {
  width: 100%;
  height: 120px;
  outline: none;
  padding: 7px;
}

.postButton {
  padding: 10px 0;
  background-color: #3d77a5;
  border: none;
  box-shadow: 5px 9px 15px -5px gray;
  color: white;
}

.postButton:hover {
  transform: translateY(5px);
  box-shadow: none;
}

/* スマートフォン向けのスタイル */
@media screen and (max-width: 480px) {
  .createPostPage {
    height: 100vh;
  }

  .postContainer {
    width: 90%; /* コンテンツの幅を画面の90%に調整 */
    height: auto; /* 高さをコンテンツに合わせて自動調整 */
    margin: 20px auto; /* 上下の余白を20pxにし、左右のマージンを自動調整して中央揃え */
    padding: 15px; /* 内側の余白を15pxに設定 */
    box-sizing: border-box; /* paddingとborderがwidthに含まれるようにする */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 子要素を上端に揃える */
    align-items: center; /* 子要素を中央に揃える */
    overflow-y: auto; /* 必要に応じて縦方向にスクロール可能に */
  }
  .postContainer textarea {
    height: auto;
  }

  .postButton {
    padding: 5px 0;
  }
  .postContainer textarea {
    height: auto;
  }

  .postButton {
    padding: 5px 0;
  }
}
