.homePage {
  width: 100%;
  min-height: calc(100vh - 80px); /* 最小高さを設定 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homePage .postContents {
  width: 100%;
  max-width: 660px; /* 最大幅を設定 */
  min-height: 200px; /* 最小高さを設定 */
  background-color: white;
  box-shadow: 5px 9px 15px -5px gray;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postHeader h1 {
  text-align: center;
  margin: 5px 0;
}

.postContents .postTextContainer {
  width: 100%;
  overflow: auto;
  margin-bottom: 20px; /* 追加の余白を設定 */
}

.nameAndDeleteButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; /* コンテンツが折り返されるように設定 */
}

.nameAndDeleteButton h3 {
  margin: 10px 0; /* 名前の余白を調整 */
  flex-basis: 70%; /* 名前が占める領域を調整 */
}

.nameAndDeleteButton button {
  padding: 5px 10px;
  flex-basis: 30%; /* ボタンが占める領域を調整 */
  margin: 10px 0; /* ボタンの余白を調整 */
  background-color: #d36262;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
  background-color: #ff7b7b;
}

* {
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center; /* ボタンを中央に配置 */
  margin-top: 20px; /* 上部の余白 */
  gap: 10px; /* ボタン間の隙間 */
}

.pagination button {
  padding: 8px 16px; /* パディング */
  background-color: #f0f0f0; /* 背景色 */
  color: #333; /* テキスト色 */
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 5px; /* 角丸 */
  cursor: pointer; /* カーソルスタイル */
  transition: background-color 0.3s; /* 色の変化をなめらかに */
}

.pagination button:hover {
  background-color: #e2e2e2; /* ホバー時の背景色 */
}

.pagination button.active {
  background-color: #007bff; /* アクティブなページの背景色 */
  color: white; /* アクティブなページのテキスト色 */
}

/* メディアクエリ: タブレット（768px以下） */
@media (max-width: 768px) {
  .homePage .postContents {
    width: 90%; /* コンテンツの幅を画面の90%に調整 */
    max-width: none; /* 最大幅の制限を解除 */
  }

  .postHeader h1 {
    font-size: 24px; /* ヘッダーのフォントサイズを調整 */
  }

  .nameAndDeleteButton {
    justify-content: space-around; /* コンテンツ間の余白を適切に調整 */
    padding: 0 10px; /* 内側の余白を調整 */
  }
}

/* スマートフォン表示用のスタイル */
@media (max-width: 480px) {
  .homePage {
    padding: 10px;
  }

  .homePage .postContents {
    width: calc(100% - 20px); /* paddingを考慮した幅に調整 */
    margin: 0 auto; /* 左右の余白を自動で調整して中央揃えに */
    padding: 10px;
    box-shadow: 5px 9px 15px -5px gray;
  }

  .postHeader h1 {
    font-size: 20px;
  }

  .nameAndDeleteButton {
    flex-direction: column;
    align-items: center; /* 子要素を中央に配置 */
  }

  .nameAndDeleteButton h3,
  .nameAndDeleteButton button {
    width: 100%; /* 横幅いっぱいに広げる */
    text-align: center; /* テキストを中央揃えに */
  }

  .nameAndDeleteButton button {
    padding: 8px 16px;
    margin-top: 10px; /* 名前とボタンの間に余白を設定 */
  }

  /* 横スクロールを防ぐためのスタイル */
  body {
    overflow-x: hidden; /* 横方向のスクロールバーを隠す */
  }
}
