nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* 子要素が親要素の幅全体を使用するように設定 */
  width: 100%; /* ナビゲーションバーの幅を100%に設定 */
  background-color: brown;
  padding: 20px;
}

nav h1 {
  align-self: center; /* タイトルを中央揃えに */
  color: white;
  margin-bottom: 20px;
}

nav div {
  width: 100%; /* リンクを横並びのコンテナの幅を100%に設定 */
  display: flex;
  justify-content: space-evenly; /* リンク間の隙間を均等に分布 */
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  flex-grow: 1; /* 各リンクが均等な幅を持つように設定 */
  text-align: center; /* テキストをリンク内で中央揃えに */
}

nav a:hover {
  color: cadetblue;
}

nav a svg {
  margin-right: 5px;
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 600px) {
  nav div {
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px; /* リンク間の縦の隙間を設定 */
  }
}
