nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  background-color: brown;
  gap: 15px;
  padding: 20px;
}

nav h1 {
  order: -1;
  color: white;
  margin-bottom: 20px; /* h1の下部にマージンを追加 */
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: cadetblue;
}

nav a svg {
  margin-right: 5px;
}

/* リンクを横並びにするためのdiv */
nav div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav div {
    flex-direction: column;
  }
}
